body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(74, 74, 74);
}

header {
  background-color: rgba(110, 107, 107, 0.651);
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: calc(100% - 2em);
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  text-align: left;
}

.name h1,
.name h2 {
  margin: 0;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.name h1 {
  color: #e59560;
}

.name h2 {
  color: #ffd5af;
}

.name:hover h1,
.name:hover h2 {
  transform: scale(1.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 7px;
  white-space: nowrap;
}

nav a {
  color: #e59560;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  position: relative;
}

nav a:hover {
  color: #ffd5af;
  transition: color 0.3s ease;
}

nav a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(1);
  transform-origin: bottom left;
}

section {
  padding: 2rem;
  margin-top: 2em;
  background-color: #f6f4e8;
  border-radius: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

#a-propos {
  background-color: #f6f4e8;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: 100px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fade-in 1s;
}

#a-propos h1 {
  color: #f26659;
  font-size: 2em;
}

#a-propos p {
  color: #4a4a4a;
  font-size: 1.2em;
  line-height: 1.6;
}

#a-propos p:first-child {
  margin-top: 0;
}

#a-propos p:last-child {
  margin-bottom: 0;
}

#a-propos {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#competences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.content {
  max-width: 600px;
}

.image-container {
  flex-shrink: 0;
  margin-left: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

#competences ul {
  list-style: none;
  padding: 0;
}

#competences li {
  padding: 10px;
  margin: 5px 0;
}

#competences li a {
  text-decoration: none;
  color: #333;
}

.projet-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  border-top: 2px solid #cccccc;
  padding-top: 20px;
}

.projet {
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

#projets h2,
#projets h3 {
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tags div {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.tags div:hover {
  background-color: #ccc;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}

footer a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

footer .liens {
  margin-top: 25px;
}

.projet,
.offre {
  margin-bottom: 2rem;
}

.projet img,
.offre img {
  max-width: 100%;
}

.offre a,
.projet a {
  color: #333;
  background-color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.offre a:hover,
.projet a:hover {
  background-color: #333;
  color: #fff;
}

section h2,
section h3,
.projet h3,
.offre h3 {
  color: #f26659;
}

section p,
.projet p,
.offre p {
  color: #4a4a4a;
}

.projet a,
.offre a {
  color: #fff;
  background-color: #333;
}

.projet a:hover,
.offre a:hover {
  background-color: #fff;
  color: #333;
}

@media only screen and (max-width: 370px) {
  .name {
    display: none;
  }

  .name h1,
  .name h2 {
    font-size: 1rem;
  }

  nav li,
  nav a {
    display: inline-block;
    justify-content: space-between;
    margin: 10px 0 0 1em;
    text-align: center;
  }

  nav a {
    font-size: medium;
  }

  #a-propos,
  #competences,
  #projets {
    margin: 5em 1em;
  }

  .content,
  .image-container {
    margin: 0;
  }

  #competences {
    display: grid;
  }

  #competences .image-container img,
  #projets .image-container img {
    margin: 0 auto 1em;
    max-width: 100%;
  }

  #projets a {
    display: block;
    text-align: center;
  }

  .projet,
  .offre {
    width: 100%;
  }

  .projet-container {
    flex-direction: column;
  }

  .projet,
  .offre,
  .projet img,
  .offre img,
  .tags div,
  footer a {
    margin: 10px 0;
  }

  footer .liens {
    margin-top: 10px;
  }

  .content {
    text-align: center;
    flex-direction: column;
  }

  .content .image-container {
    order: 2;
  }

  .content .image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  footer {
    justify-content: center;
    align-items: center;
  }
}
